<% include ../partials/header %>


<h1>Enter a new book</h1>

<form class="" action="/books" method="post">
  <input type="text" name="book[title]" placeholder="Title">
  <input type="text" name="book[author]" placeholder="Author">
  <input type="text" name="book[image]" placeholder="Image URL">
  <textarea name="book[summary]" placeholder="Summary"></textarea>
  <button>Submit</button>

</form>

<% include ../partials/footer %>
