<% include ../partials/header %>


<h1>Edit Comment</h1>

<form class="" action="/books/<%= campgroundId %>/comments/<%= comment._id %>?_method=PUT" method="post">
  <input type="text" name="comment[text]" value="<%= comment.text %>">
  <!-- <input type="text" name="comment[author]" placeholder="author"> -->
  <button>Submit</button>

</form>

<% include ../partials/footer %>
