<% include ../partials/header %>


<h1 style="text-align:center">Edit Comment</h1>

<div class="ui main text container segment">
  <form class="ui form" action="/books/<%= campgroundId %>/comments/<%= comment._id %>?_method=PUT" method="post">
    <div class="field">
      <label>Comment</label>
      <input name="comment[text]" value="<%= comment.text %>" type="text">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>

<% include ../partials/footer %>
