<% include ../partials/header %>


<h1 style="text-align:center">Create a new comment</h1>

<div class="ui main text container segment">
  <form class="ui form" action="/books/<%= id %>/comments" method="post">
    <div class="field">
      <label>Comment</label>
      <input name="comment[text]" placeholder="Enter comment" type="text">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
</div>


<% include ../partials/footer %>
